{
  "dns": {{docker_internal_dns}},
  "log-driver": "{{docker_log_driver}}",
{% if docker_path != '/var/lib/docker' %}
  "data-root": "{{ docker_path }}",
{% endif %}
  "log-opts": {
    "max-size": "{{docker_log_max_size}}",
    "max-file": "{{docker_log_max_files}}"
  }
}
